<div class="container-fluid ">
<div class="row">
    <div class="col-md-12">
      <div id="list-example" class="list-group">

          <a class="list-group-item list-group-item-action" href="#list-item-1">To Do List:</a>
        <a class="list-group-item list-group-item-action" href="#list-item-2">Proyecto 2</a>
        <a class="list-group-item list-group-item-action" href="#list-item-3">Proyecto 3</a>
        <a class="list-group-item list-group-item-action" href="#list-item-4">Proyecto 4</a>
        <a class="list-group-item list-group-item-action" href="#list-item-3">Proyecto 3</a>
        <a class="list-group-item list-group-item-action" href="#list-item-4">Proyecto 4</a>
        <a class="list-group-item list-group-item-action" href="#list-item-3">Proyecto 3</a>
        <a class="list-group-item list-group-item-action" href="#list-item-4">Proyecto 4</a>
        <a class="list-group-item list-group-item-action" href="#list-item-3">Proyecto 3</a>
        <a class="list-group-item list-group-item-action" href="#list-item-4">Proyecto 4</a>
      </div>
    </div>
  </div>
</div> 

