<!-- <div class="card-container" *ngIf="!mostrarTabla"> -->
 <div class="card-container">
    <div class="card">
      <img
        src="{{ personaje.image }}"
        class="card-img-top"
        alt="{{ personaje.name }}"
      />
      <div class="card-body">
        <h5 class="card-title">{{ personaje.name | uppercase }}</h5>
        <p class="card-text">
          <strong>Estado:</strong> {{ personaje.status | uppercase }}
        </p>
        <p class="card-text"><strong>Especie:</strong> {{ personaje.species }}</p>
        <p class="card-text"><strong>Género:</strong> {{ personaje.gender }}</p>
        <p class="card-text">
          <strong>Ubicación:</strong> {{ personaje.location.name }}
        </p>
        <p class="card-text">
          <strong>Origen:</strong> {{ personaje.origin.name }}
        </p>
        <button type="button" class="btn btn-primary" routerLink="/List-Rick-and-Morty">
          Volver
        </button>
      </div>
    </div>
  </div> 