<nav class="navbar navbar-expand-lg" style="background-color: rgb(107, 135, 234);">
  <div class="container-fluid" style="background-color: rgb(107, 135, 234);">
    <a class="navbar-brand" href="#">Ejercicios Angular</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" routerLink="ToDoList">Proyectos</a>
        <a class="nav-link" href="#">Opciones</a>
        <a class="nav-link" href="#">Opciones</a>
      </div>
    </div>
  </div>
</nav>