.container-fluid {
  margin-top: 20px;
  margin-bottom: 20px;
}

.tarea-formulario {
  padding: 15px;
  border-radius: 8px;
}

.form-control {
  margin-bottom: 10px;
}

.botones-filtro button {
  margin-right: 10px;
}

.table {
  margin-top: 20px;
}

.table td:last-child button {
  margin-right: 5px;
}
