<div class="row">
  <div class="col-6">
    <h4>FORMULARIO LOS SIMPSONS</h4>
    <label for="url">URL:</label>
    <input type="text" name="url" id="url" [(ngModel)]="url" /><br />
    <label for="nombre">NOMBRE:</label>
    <input type="text" name="nombre" id="nombre" [(ngModel)]="nombre" /><br />
    <label for="rol">ROL:</label>
    <input type="text" name="rol" id="rol" [(ngModel)]="rol" /><br />

    <button type="button" class="btn btn-success" (click)="CargarTabla()">
      Cargar Datos
    </button>
  </div>
  <div class="col-6">
    <h4>LISTADO LOS SIMPSONS</h4>
    <table>
      <thead>
        <th>IMAGEN</th>
        <th>NOMBRE</th>
        <th>ROL</th>
      </thead>
      <tbody>
        <tr *ngFor="let item of formulario">
          <td><img src="{{item.url }}" alt="PersonajeSimpsons" /></td> 
          <td>{{ item.nombre | uppercase }}</td>
          <td>{{ item.rol | uppercase}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
